/* nunito-sans-200 - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/nunito-sans-v6-latin-200.eot');
	src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'), url('fonts/nunito-sans-v6-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-200.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-200.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-200italic - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 200;
	src: url('fonts/nunito-sans-v6-latin-200italic.eot');
	src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'), url('fonts/nunito-sans-v6-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-200italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-200italic.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-300 - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/nunito-sans-v6-latin-300.eot');
	src: local('Nunito Sans Light'), local('NunitoSans-Light'), url('fonts/nunito-sans-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-300.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-300.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-300italic - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 300;
	src: url('fonts/nunito-sans-v6-latin-300italic.eot');
	src: local('Nunito Sans Light Italic'), local('NunitoSans-LightItalic'), url('fonts/nunito-sans-v6-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-300italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-300italic.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-italic - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/nunito-sans-v6-latin-italic.eot');
	src: local('Nunito Sans Italic'), local('NunitoSans-Italic'), url('fonts/nunito-sans-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-italic.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-regular - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/nunito-sans-v6-latin-regular.eot');
	src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url('fonts/nunito-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-regular.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-600 - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/nunito-sans-v6-latin-600.eot');
	src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url('fonts/nunito-sans-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-600.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-600.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-700 - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/nunito-sans-v6-latin-700.eot');
	src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url('fonts/nunito-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-700.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-600italic - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 600;
	src: url('fonts/nunito-sans-v6-latin-600italic.eot');
	src: local('Nunito Sans SemiBold Italic'), local('NunitoSans-SemiBoldItalic'), url('fonts/nunito-sans-v6-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-600italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-600italic.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-700italic - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/nunito-sans-v6-latin-700italic.eot');
	src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'), url('fonts/nunito-sans-v6-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-700italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-700italic.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-800 - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/nunito-sans-v6-latin-800.eot');
	src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'), url('fonts/nunito-sans-v6-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-800.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-800.svg#NunitoSans') format('svg');
	font-display: auto;
}


/* nunito-sans-800italic - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 800;
	src: url('fonts/nunito-sans-v6-latin-800italic.eot');
	src: local('Nunito Sans ExtraBold Italic'), local('NunitoSans-ExtraBoldItalic'), url('fonts/nunito-sans-v6-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-800italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-800italic.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-900 - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 900;
	src: url('fonts/nunito-sans-v6-latin-900.eot');
	src: local('Nunito Sans Black'), local('NunitoSans-Black'), url('fonts/nunito-sans-v6-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-900.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-900.svg#NunitoSans') format('svg');
	font-display: auto;
}

/* nunito-sans-900italic - latin */
@font-face {
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 900;
	src: url('fonts/nunito-sans-v6-latin-900italic.eot');
	src: local('Nunito Sans Black Italic'), local('NunitoSans-BlackItalic'), url('fonts/nunito-sans-v6-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/nunito-sans-v6-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/nunito-sans-v6-latin-900italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/nunito-sans-v6-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/nunito-sans-v6-latin-900italic.svg#NunitoSans') format('svg');
	font-display: auto;
}


/* css variables*/

:root {
	--primary-color: #432E30;
	--primary-color-light: #8E7474;
	--accent-color: #FE6A6B;
	--accent-color-light: #FFE4E4;
	--accent-color-dark: #B94B4C;
	--white-color: #FAFBFC;
	--light-gray-color: #C6CBD1;
	--medium-gray-color: #959DA5;
	--dark-gray-color: #444D56;
	--bg-color: #F8F8FA;
	--code-bg-color: #F0E8E8;
}


/* normalized */

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	background-color: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

p {
	font-weight: 300;
	color: #4A4A4A;
}

a,
a:hover {
	text-decoration: none;
	color: var(--primary-color);
}

hr {
	padding: 1rem 0;
	border: 0;
	border-bottom: 1px solid var(--bg-color);
}

* {
	box-sizing: border-box;
}


/* typography */

section.js-section h2 {
	color: var(--accent-color);
}

section.js-section h3 {
	color: var(--accent-color-dark);
}

section.js-section li {
	color: var(--primary-color-light);
}


/* code */

.code {
	border-radius: 3px;
	font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	background: var(--bg-color);
	border: 1px solid var(--code-bg-color);
	color: var(--accent-color);
}

.code--block {
	white-space: pre-line;
	padding: 0 1.5rem;
}


/* buttons */

.button--primary {
	padding: 10px 22px;
	background-color: var(--accent-color);
	color: white;
	position: relative;
	text-decoration: none;
	border: 0;
	transition: all .3s ease-out;
}

.button--primary:after {
	position: absolute;
	content: "";
	width: 1rem;
	height: 1rem;
	background-color: var(--accent-color-light);
	right: -0.4rem;
	top: -0.4rem;
	transition: all 0.3s ease-out;
}

.button--primary:hover {
	text-shadow: 0px 1px 1px var(--accent-color-dark);
	color: white;
	transform: translate3D(0, -3px, 0);
}

.button--primary:hover::after {
	transform: rotate(90deg);
}

.button--secondary {
	padding: 10px 22px;
	border: 2px solid var(--primary-color);
	transition: all 0.5s ease-out;
}

.button--secondary:hover {
	border-color: var(--accent-color);
	color: var(--accent-color);
}


/* links */

.link {
	text-decoration: none;
}

.link:hover {
	color: var(--accent-color);
	fill: var(--accent-color);
}

.link--dark {
	color: var(--primary-color);
	fill: var(--primary-color);
}

.link--light {
	color: var(--accent-color);
	font-weight: 600;
}


/* menu */

.menu {
	margin: 0px;
	padding: 0px;
	text-align: right;
	overflow: hidden;
	list-style: none;
	margin-left: auto;
	min-width: fit-content;
}

.menu__item {
	padding: 1.5rem 1rem;
	display: inline-block;
}

.menu__item.toggle {
	display: none;
}

.menu__item svg {
	width: auto;
	height: 1rem;
	vertical-align: middle;
}

li.menu__item span {
	display: none;
	vertical-align: middle;
}

.menu__item {
	padding: 1.5rem 0.6rem;
}


/* table */

table {
	border-collapse: collapse;
	width: 100%;
	transition: color .3s ease-out;
	margin-bottom: 2rem;
}

table td,
table th {
	border: 1px solid var(--code-bg-color);
	padding: 0.8rem;
	font-weight: 300;
}

table th {
	text-align: left;
	color: var(--primary-color-light);
	font-weight: 800;
}

table td:first-child {
	background-color: var(--bg-color);
	font-weight: 600;
}


/* layout */

.wrapper {
	margin: 0 auto;
	max-width: 100vw;
	z-index: 1002;
}

.footer {
	text-align: center;
	background-color: var(--primary-color);
	padding: 2rem;
	color: white;
	margin-top: auto;
	z-index: 1001;
}

.footer p {
	color: inherit;
}

.footer span {
	max-width: min(800px, 80vw);
	display: block;
	margin: auto;
}

.footer .license {
	font-size: 0.7rem;
}


/* layout */

.sideheader {
	display: flex;
	border-bottom: 1px solid var(--code-bg-color);
	min-width: 350px;
}


/* logo */

.logo {
	font-weight: 900;
	color: var(--primary-color);
	font-size: 1.4em;
	grid-column: 2 / 4;
	margin-left: 1rem;
	display: inline-block;
	transition: color 0.4s ease-in-out;
}

.logo:hover {
	color: var(--accent-color);
}

.logo__thin {
	font-weight: 300;
}

.unessential {
	display: none;
}


/* bars */

#bars {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 1.4em;
	color: var(--primary-color);
	fill: var(--primary-color);
	user-select: none;
	cursor: pointer;
	background: #d0d0d0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1003;
	border: none;
}

#nav-toggle {
	cursor:				pointer;
	display:			flex;
	justify-content:	center;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 3px;
	width: 30px;
	background: white;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -8px; 
}
#nav-toggle span:after {
	bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 300ms ease-in-out;
}
.active #nav-toggle span {
	background-color: transparent;
}
.active #nav-toggle span:before, .active #nav-toggle span:after {
	top: 0;
	background: var(--accent-color);
}
.active #nav-toggle span:before {
	transform: rotate(45deg);
}
.active #nav-toggle span:after {
	transform: rotate(-45deg);
}

/* doc */

.doc__bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 28%;
	background-color: var(--bg-color);
	z-index: -1;
}

.doc__nav {
	margin-top: 45px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: white;
	padding: 20px 20px 45px 45px;
	display: none;
	overflow: scroll;
}

.doc__nav.active {
	display: block;
}

.doc__nav ul {
	list-style: none;
	padding-left: 0;
	line-height: 1.8;
}

.doc__nav ul.fixed {
	position: fixed;
	top: 2rem;
}

.doc__nav li:hover {
	color: var(--primary-color-light);
	cursor: pointer;
	transition: color .3s ease-in-out;
}

.doc__nav .selected {
	color: var(--accent-color);
	position: relative;
}

.doc__nav .selected:after {
	position: absolute;
	content: "";
	width: 1rem;
	height: 1rem;
	background-color: var(--accent-color);
	left: -1.5rem;
	top: 0.3rem;
}

.doc__content {
	min-width: 300px;
	padding: 0 1rem 5rem 1rem;
}

#doc__content.active {
	visibility: hidden;
}


/* Shortcuts */

.keybinding__label {
	background: var(--white-color);
	border: 1px solid var(--light-gray-color);
	box-shadow: 0 1px 0 0 var(--medium-gray-color);
	border-radius: 3px;
	font-family: Courier;
	font-size: 0.7rem;
	color: var(--dark-gray-color);
	padding: 3px 3px 1px 3px;
	vertical-align: middle;
	cursor: pointer;
}

.keybinding__label:hover {
	color: var(--accent-color);
}


/* Notifications */

.alert-primary {
	color: #777777;
	background-color: #c1d5e8;
	border-color: #b8daff;
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	font-size: 0.9rem;
}


/* Download Cards*/

.download_card {
	min-width: 182px;
	width: 182px;
	height: 251px;
	border-radius: 5px;
	background: var(--light-gray-color);
	padding: 10px;
	display: inline-flex;
	margin: 5px;
	flex-direction: column;
	justify-content: space-around;
}

.download_card img,
.download_card i,
.download_card svg {
	width: 120px;
	height: 120px;
	align-self: center;
	font-size: 110px;
	line-height: 110px;
	color: var(--dark-gray-color);
	fill: var(--dark-gray-color);
	text-align: center;
}

.download_card p {
	margin: 0px;
}

.download_card:hover img,
.download_card:hover i,
.download_card:hover svg {
	color: var(--accent-color);
	fill: var(--accent-color);
}

.card {
	/* min-width: 150px; */
	/* min-height: 250px; */
	max-width: 290px;
	border: 0;
	/* box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15); */
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	flex: 1 1 0px;
}

.card h2 {
	color: var(--accent-color);
	text-align: center;
	margin: 0px;
	font-size: 1.2rem;
	font-weight: 600;
}

.card p {
	text-align: center;
	margin: 10px;
}

.video-card {
	background: var(--white-color);
	width: 450px;
	border-radius: 5px;
}

.video-card video {
	margin: 0px;
	width:100%;
	height:auto;
	max-width:800px;
	border-radius: 5px 5px 0 0px;
}

.video-card h3 {
	margin: 10px;
	margin-top: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.video-card p {
	margin: 0px 10px;
	height: 80px;
	max-width: 100%;
	overflow: auto;
}
.video-card a {
	display: inline-block;
	margin: 10px;
	margin-left: 10px;
}

/* Media Queries*/

@media screen and (max-width: 600px) {
	nav {
		grid-template-columns: 70px auto;
	}
	.toggle {
		display: block;
	}
	.menu.responsive .menu__item:not(:first-child) {
		display: block;
		padding: 0 0 0.5rem 0;
	}
}

@media (min-width: 1150px) {
	.wrapper {
		max-width: min(90%, 1000px);
		margin-left: auto;
		margin-right: auto;
	}
	.wrapper.withsidebar {
		margin-right: auto;
		margin-left: max(350px, calc(50vw - 500px));
	}
	#bars,
	#bars.active {
		display: none;
	}
	.doc__nav,
	.doc__nav.active {
		position: fixed;
		top: 75px;
		left: calc(max(350px, calc(50vw - 500px)) - 330px);
		display: block;
		max-width: 300px;
		height: fit-content;
		overflow: auto;
		padding-top: 2px;
		margin-top: 0px;
		max-height: calc(100vh - 80px);
	}
	#doc__content.active {
		visibility: visible;
	}
	li.menu__item span {
		display: inline-block;
	}
	.menu__item {
		padding: 1.5rem 1.2rem;
	}
	.unessential {
		display: inline-block;
	}
}